<div class="row">
  <h1 class="customer-name">{{name}}</h1>
</div>

<form>
  <div class="row">
    <div class="large-6 columns">
      <label>Name</label>
      <input type="text" name="name" value="{{name}}">
    </div>
    <div class="large-6 columns">
      <label>Email</label>
      <input type="text" name="email" value="{{email}}">
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      Last updated at: {{updatedAt}}
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Save</button>
      <a class="button secondary reset">Reset values</a>
    </div>
  </div>
</form>
